*.*
data/*
benchmark/*
blazeseq/*
!benchmark/*.mojo
!blazeseq/*.mojo
!.gitignore
!cli.mojo
!todo.md
!QC.mojo
# pixi environments
.pixi

# pixi environments
.pixi
*.egg-info

# magic environments
.magic
QC
