*.*
data/*
benchmark/*
blazeseq/*
!benchmark/*.mojo
!blazeseq/*.mojo
!.gitignore
!cli.mojo
!todo.md
!QC.mojo
!test_template.html
!assets/*
# pixi environments
.pixi
!/blazeseq/*.mojo

# pixi environments
.pixi
*.egg-info
*
!*.mojo
# magic environments
.magic
QC
