[workspace]
name = "blazeseq"
version = "0.1.0"
description = "Fast FASTQ parsing and GPU-accelerated sequencing utilities in Mojo."
authors = []
channels = ["conda-forge", "https://conda.modular.com/max"]
platforms = ["linux-64", "osx-arm64"]
license = "MIT"

[dependencies]
mojo = "0.26.*"

[tasks]
build = "mojo package blazeseq -o BlazeSeq.mojopkg"
t = { cmd = "sh -c 'find ./tests -name test_*.mojo -not -name test_coord_parser.mojo | xargs -I % mojo test -I BlazeSeq.mojopkg -D ASSERT=all %'", depends-on = [
    "build",
] }
rbuild = "rattler-build build -c conda-forge -c https://conda.modular.com/max recipe.yaml"
rtest = { cmd = "rattler-build test -c conda-forge -c https://conda.modular.com/max --package-file ./blazeseq*.conda", depends-on = [
    "rbuild",
] }
