[workspace]
name = "blazeseq"
version = "0.2.0"
description = "Primitives for FASTQ parsing and GPU-accelerated sequencing utilities in Mojo."
authors = []
channels = ["conda-forge", "https://conda.modular.com/max-nightly"]
platforms = ["linux-64", "osx-arm64"]
license = "MIT"
preview = ["pixi-build"]

[package]
name = "blazeseq"
version = "0.2.0"

[package.build]
backend = { name = "pixi-build-mojo", version = "0.*", channels = [
    "https://prefix.dev/pixi-build-backends",
    "https://prefix.dev/conda-forge",
] }

[package.host-dependencies]
mojo-compiler = "=0.26.1.0"
rapidgzip-mojo = { git = "https://github.com/MoSafi2/rapidgzip_mojo", branch = "main" }


[package.build-dependencies]
mojo-compiler = "=0.26.1.0"
rattler-build = "*"
rapidgzip-mojo = { git = "https://github.com/MoSafi2/rapidgzip_mojo", branch = "main" }

[package.run-dependencies]
mojo-compiler = "=0.26.1.0"

[dependencies]
mojo = "=0.26.1.0"
nodejs = ">=20"
rapidgzip-mojo = { git = "https://github.com/MoSafi2/rapidgzip_mojo", branch = "main" }


[tasks]
build = "mojo package blazeseq -o BlazeSeq.mojopkg"
test = { cmd = "sh -c 'find ./tests -name \"test_*.mojo\" | xargs -I % pixi run mojo run -I . -D ASSERT=all %'" }
docs = "modo build && cd docs/site && npm install && node scripts/add-frontmatter.mjs && npm run build"
docs-serve = "modo build && cd docs/site && npm install && node scripts/add-frontmatter.mjs && npm run dev"
rbuild = "pixi build"
rtest = { cmd = "rattler-build test --package-file .pixi/build/linux-64/blazeseq-0.2.0-0.conda", depends-on = [
    "rbuild",
] }
[pypi-dependencies]
pymodo = ">=0.11.12, <0.12"

[feature.benchmark.dependencies]
hyperfine = "*"
rust = "*"
python = "*"
matplotlib = "*"
numpy = "*"

[feature.benchmark.tasks]
benchmark = "bash -c './benchmark/fastq-parser/run_benchmarks.sh'"
benchmark-gzip = "bash -c './benchmark/fastq-parser/run_benchmarks_gzip.sh'"
benchmark-throughput = "bash -c './benchmark/throughput/run_throughput_benchmarks.sh'"
benchmark-plot = "bash -c 'python benchmark/scripts/plot_benchmark_results.py --repo-root . --assets-dir assets'"

[environments]
benchmark = ["default", "benchmark"]
