name: Run Mojo tests

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  run-tests:
    name: Run tests
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Install pixi
      uses: prefix-dev/setup-pixi@v0.9.4
      with:
        cache: true

    - name: Build docs
      run: pixi run docs

    - name: Run tests
      run: find ./tests -name "test_*.mojo" | xargs -I % pixi run mojo run -I . -D ASSERT=all -D GITHUB_ACTIONS=1 %
